/*:start layout*/
.nrow{
    word-spacing: -4.6px;
}
.nrow:after, .nrow:before {
    content: " ";
    display: table;
    clear: both;
}
.nrow.nrow--gap{
  margin-left: -5px;
  margin-right:-5px;
}
.nrow.nrow--gap [class*="ncol-"] {
  padding:0 5px;
  margin-bottom:5px;
}
.nrow.nrow--gap.gap--x{
    margin-left: -10px;
    margin-right: -10px;
}
.nrow.nrow--gap.gap--x [class*="ncol-"]{
    padding: 0 10px;
}

[class*="ncol-"]{
    display: inline-block;
    box-sizing: border-box;
    word-spacing: normal;
    vertical-align: top;
}
.ncol-12 {
    width: 100%;
}
.ncol-11 {
    width: 91.6666%;
}
.ncol-10 {
    width: 83.3333%;
}
.ncol-9 {
    width: 75%;
}
.ncol-8 {
    width: 66.6667%;
}
.ncol-7 {
    width: 58.3333%;
}
.ncol-6 {
    width: 50%;
}
.ncol-5 {
    width: 41.6666%;
}
.ncol-4 {
    width: 33.3333%;
}
.ncol-3 {
    width: 25%;
}
.ncol-2 {
    width: 16.6667%;
}
.ncol-1 {
    width: 8.3333%;
}

/*page structure*/
.page-container {}
.page-section {}
.page-section >.inner{
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1650px;
}
/*:start title*/
.ntitle-xxx {
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: 400;
}
.ntitle-xx{
    margin: 10px 0 20px 0;
    font-size: 18px;
    font-weight: 400;
}
.ntitle-x {
    margin: 5px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
}
.ntitle{
    margin: 3px 0 6px 0;
    font-size: 12px;
    font-weight: 400;
}
/*:start link*/
.nlink{
    text-decoration: underline;
}
/*:text align*/
.ntext-right{
    text-align: right;
}
