/*:start notice*/
.nnotice{
    position: fixed;
    right:0;
    bottom:0;
    padding-top:1em;
    width:400px;
    padding:5px;
}
.nnotice-message{
    position: relative;
    padding: 15px;
    margin: 0 auto 1em auto;
    border-left: 10px solid;
    border-left-color:#49b6d6;
    background-color: white;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    background-color: rgba(255,255,255,.8);
    font-size: 13px;
    color: #666;
    font-weight: 500;
}
.nnotice-message.message--info{
    border-left-color: #49b6d6;
}
.nnotice-message.message--warning{
    border-left-color: #ff5b57;
}
.nnotice-message.message--success{
    border-left-color: #64bd63;
}
