body {
    background-color: #ecf0f5;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-variant: normal;
    color: #222;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased!important;
}
.header:before,.pager:before,.footer:before,
.header:after,.pager:after,.footer:after,
.header-inner:after,
.pager-inner:after,
.footer-inner:after{
	content: "";
	display: table;
	clear: both;
}
.footer{
	position: absolute;
	left: 220px;
	bottom:0;
	right: 0;
	padding: 20px;
	border-top: 1px solid rgba(0,0,0,0.07);
	background-color: #f3f5f9;
}

.nav-body{
	margin-left: 220px;
	background-color: white;
}
.nav-body:after{
	content: "";
	display: table;
	clear: both;
}
/*:start nav list*/
.nav-list.list--left{
	float: left;
}
.nav-list.list--right{
	float: right;
}
.nav-list > li{
	float: left;
	border: 1px solid #eee;
}
.nav-list > li + li{
	margin-left: -1px;
}
.nav-list > li > a{
	display: block;
	padding: 10px 15px;
	color: #666;
	transition: all .3s;
}
.nav-list > li > a:hover{
	color: #222;
	background-color: #eee;
}
/*:start pager*/
.pager-side{
    position: absolute;
    width: 220px;
    padding: 40px 0 15px 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #263238;
}
.pager-side-inner{
    margin-right: -15px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
/*:start user profile*/
.user-profile{
	padding: 30px 15px 15px 15px;
	background-image: url("../images/profile-back.png");
	background-size: cover;
}
.user-profile-view:after,
.user-profile:after{
	content: "";
	display: table;
	clear: both;
}
.user-profile-view{
	margin-bottom: 15px;
}
.user-profile-view > .to-version{
	float: right;
	padding: 1px 5px;
	font-size: 10px;
	background-color: lightseagreen;
	color: white;
}
.user-profile-view > .to-img{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.user-profile-info > .to-name{
	color: #fff;
	margin: 0;
	font-size: 1.1em;
	font-weight: 600;
}
.user-profile-info > .to-desc{
	color: #fff;
}
.pager-container{
    margin-top: 40px;
	margin-left: 220px;
	padding: 20px;
	box-sizing: border-box;
}
.pager-x-title{
	border: 0 none;
	font-size: 1.7em;
	font-weight: normal;
	margin: 0;
	padding: 10px 0;
}
/*:start override*/
.nlist-item.item--title{
	padding: 10px 15px;
	color: #747e88;
}
.nlist-item.item--title ~ .nlist-item.item--title{
	border-top: 1px solid #212c31;
}
.pager-side .nlist-item > a{
	color: #abb1b7;
}
.pager-side .nlist-item > a:hover{
	color: white;
}
/*:start head logout*/
.logout-list{
    padding: 15px;
}

/*:start admin*/
.admin{
    min-height: 100vh;
    height: auto;
    position: relative;
    min-width: 290px;
    overflow: hidden;
}
.admin-header{
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
}
.admin-header-nav{
    display: block;
    float: left;
	width: 220px;
	background-color: #263238;
}
.admin-header-nav-brand{
	display: inline-block;
	padding: 8px;
	color: white;
	transition: all .3s;
}
.admin-header-nav-brand > .to-icon{
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
}
.admin-header-nav-brand > .to-text{
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
}
.admin-header-nav-brand > .to-text > .to-text-version{
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	color: #ccc;
}
.admin-header-body:after{
    content: "";
    display: table;
    clear: both;
}
.admin-header-body{
    margin-left: 220px;
    background-color: white;
}
.admin-pager{}
.admin-footer{
    position: absolute;
    left: 220px;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.07);
    background-color: #f3f5f9;
}
