body {
    color: #222;
    font-size: 14px;
}
body, input, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.36;
}
.btn {
    font-family: 'Open Sans Condensed', 'Arial Narrow', 'Helvetica Narrow', arial, helvetica, sans-serif;
    letter-spacing: 1px;
}
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #222;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
    color: #06f;
}
p{
    margin-bottom:10px;
}
/*PUBLIC STYLE*/
/*float*/
.float{
    float:left;
}
.margin{
    margin:10px;
}
.padding{
    padding:10px;
}
/*color*/
.background-color{
    background-color: #eee;
}

/* rating */
.rating {
    display: inline-block;
    vertical-align: middle;
    width: 79px;
    height: 13px;
    overflow: hidden;
    background: url(../images/sprite-icons.png) no-repeat;
}
.rating-0 {
    background-position: 0 0;
}
.rating-1 {
    background-position: 0 -13px;
}
.rating-2 {
    background-position: 0 -26px;
}
.rating-3 {
    background-position: 0 -39px;
}
.rating-4 {
    background-position: 0 -52px;
}
.rating-5 {
    background-position: 0 -65px;
}
.rating.be-large {
    width: 129px;
    height: 24px;
}
.rating.be-large.rating-0 {
    background-position: 0 0
}
.rating.be-large.rating-1 {
    background-position: 0 -104px;
}
.rating.be-large.rating-2 {
    background-position: 0 -128px;
}
.rating.be-large.rating-3 {
    background-position: 0 -152px;
}
.rating.be-large.rating-4 {
    background-position: 0 -176px;
}
.rating.be-large.rating-5 {
    background-position: 0 -200px;
}
.rating-views {
    max-width: 512px;
}
.rating-views-head {
    margin-bottom: 30px;
    height: 24px;
    text-align: center;
    font-size: 16px;
}
.rating-views-num {
    margin-left: 10px;
    vertical-align: bottom;
}
.rating-view {
    position: relative;
    margin-bottom: 15px;
    height: 22px;
}
.rating-view:after {
    content: '';
    display: table;
    clear: both;
}
.rating-view > a {
    display: block;
    height: inherit;
    cursor: pointer;
}
.rating-view-name, .rating-view-chart, .rating-view-percent {
    height: 100%;
    line-height: 22px;
    box-sizing: border-box;
}
.rating-view-name {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating-view-chart {
    position: relative;
    margin: 0 40px 0 45px;
    overflow: hidden;
    background: #707070;
    border-radius: 3px;
}
.rating-view-chart-current {
    width: 0;
    height: inherit;
    background: #ff9800;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
.rating-view-chart-num {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    padding: 0 7px;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rating-view-percent {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}
.rating-views.has-light .rating-view-chart {
    background-color: #d2d2d2;
}

/*table-x*/
.table-x{
    position: relative;
    text-align: left;
    border:1px solid #eee;
}
.table-x:before,
.table-x:after,
.table-x-row:before,
.table-x-row:after{
    content: " ";
    display: table;
    clear: both;
}
.table-x-row{
    border-top:1px solid #eee;
}
.table-x-row.be-head{
    font-weight: bold;;
}
.table-x-row:first-child{
    border-top:0;
}
.table-x-col{
    float:left;
}
.table-x-col:after{
    content: " ";
    position: absolute;
    top:0;
    height:100%;
    width:0;
    border-left:1px solid #eee;
}
.table-x-col>.inner{
    padding:8px;
    width:100%;
}

.table-x.table-row- .table-x-col:after{
    border:0;
}
.as-table{
    display: table;
}
.as-td{
    display:table-cell;
    vertical-align: middle;
}
.as-td.be-wide{
    width:100%;
}

/*form*/
.form-text, .form-textarea, .stuff-textarea, .form-select-name, .form-price input {
    margin: 0;
    padding: 6px .8em;
    height: 35px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    background: #fff;
    font-size: 13px;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.form-text.be-wide, .form-textarea.be-wide, .form-select.be-wide, .form-select.be-wide .form-select-name, .form-datepicker.be-wide, .form-price.be-wide, .form-checkbox.be-wide, .form-radiobox.be-wide {
    width: 100%;
}

/*:start notice*/
.notice-x{
    position: fixed;
    right:0;
    bottom:0;
    padding-top:1em;
    width:400px;
    padding:5px;
}
.notice-x-message{
    position: relative;
    padding: 15px;
    margin: 0 auto 1em auto;
    border-left: 10px solid;
    border-left-color:#49b6d6;
    background-color: white;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    box-shadow: inset 0 0 0 1px #fff,inset 0 2px #fff,0 0 0 1px rgba(0,0,0,.1),0 1px rgba(0,0,0,.2);
    background-color: rgba(255,255,255,.8);
    font-size: 13px;
    color: #666;
    font-weight: 500;
}
.notice-x-message.message-info-{
    border-left-color: #49b6d6;
}
.notice-x-message.message-warning-{
    border-left-color: #ff5b57;
}
.notice-x-message.message-success-{
    border-left-color: #64bd63;
}
/*:start menu-x*/
.menu-x{
    margin-bottom: -5px;
    z-index: 200;
}
.menu-x-item{
    margin-bottom: 5px;
}
.menu-x-tag{
    position: relative;
    display: block;
    padding:8px 16px;
}
.menu-x-tag:after{
    content: "\f0d8";
    position: absolute;
    display: none;
    left:50%;
    bottom:0;
    margin-left:-5px;
    height:0;
    width:0;
    z-index: 201;
    font-family: FontAwesome;
    line-height: 0;
    text-shadow: 0 -1px 0 #eee;
    font-size: 32px;
    line-height: 0.4;
    color: white;
}
.menu-x-box{
    padding:16px;
    background-color:white;
    border:1px solid #eee;
    z-index: 200;
}
/*menu active*/
.menu-x-item.be-active > .menu-x-tag:after{
    display: block;
}
/*menu nav top*/
.menu-x.menu-x-nav- > .menu-x-item{
    display: inline-block;
    margin-left:10px;
    border:1px solid #eee;
}
.menu-x.menu-x-nav- > .menu-x-item:first-child{
    margin-left:0;
}
.menu-x.menu-x-nav- .state-box{
    position: absolute;
    padding-top:9px;
}
/*menu vertical*/
.menu-x.menu-x-y-{}
/*menu no border*/
.menu-x.menu-x-text->.menu-x-item{
    margin-left:16px;
    border:0;
}
.menu-x.menu-x-text->.menu-x-item:first-child{
    margin-left:0;
}
.menu-x.menu-x-text->.menu-x-item>.menu-x-tag{
    padding:8px 0;
}

/*:start mask layer*/
#mask{
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  display: none;
  background-color: #000;
  -ms-filter: opacity(.6);
  filter: alpha(opacity=60);
  -webkit-opacity: .6;
  -moz-opacity: .6;
  -o-opacity: .6;
  opacity: .6;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 4;
}
@media (min-width: 768px) {}
