<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../public/css/base.css">
        <link rel="stylesheet" type="text/css" href="../public/css/test.css">
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <style media="screen">

            /*.ns-row{
                border: 1px solid #eee;
            }*/
            /*.ns-row > div{
                border: 1px solid #eee;
            }*/
        </style>
    </head>
    <body>
        <div style="height: 50px; border: 1px solid #eee;"></div>
        <div class="ns-row ns-row-gap gap-x">
            <div class="ns-col-6">ns-col-6</div>
            <div class="ns-col-6">ns-col-6</div>
        </div>
        <div class="ns-row">
            <div class="ns-col-6">
                <div class="ns-title">Title</div>
                <div class="ns-title-x">Title</div>
                <div class="ns-title-xx">Title</div>
                <div class="ns-title-xxx">Title</div>
            </div>
        </div>
    </body>
</html>
