<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../public/css/base.css">
        <link rel="stylesheet" type="text/css" href="../public/css/test.css">
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <style media="screen">

            /*.nrow{
                border: 1px solid #eee;
            }*/
            /*.nrow > div{
                border: 1px solid #eee;
            }*/
        </style>
    </head>
    <body>
        <div style="height: 50px; border: 1px solid #eee;"></div>
        <div class="nrow nrow-gap gap-x">
            <div class="ncol-6">ncol-6</div>
            <div class="ncol-6">ncol-6</div>
        </div>
        <div class="nrow">
            <div class="ncol-6">
                <div class="ntitle">Title</div>
                <div class="ntitle-x">Title</div>
                <div class="ntitle-xx">Title</div>
                <div class="ntitle-xxx">Title</div>
            </div>
        </div>
    </body>
</html>
