<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Components</title>
        <link rel="stylesheet" type="text/css" href="../../dist/css/base.all.css">
        <link rel="stylesheet" type="text/css" href="../../dist/css/module.all.css">
        <link rel="stylesheet" type="text/css" href="css/component.css">

        <script type="text/javascript" src="../../dist/scripts/base.all.js"></script>
        <script type="text/javascript" src="../../dist/scripts/module.all.js"></script>
    </head>
    <body>
        <h1 class="ntitle-xxx">Components</h1>
        <div class="nrow nrow--gap">
            <div class="ncol-10">
                <div class="npanel">
                    <div class="npanel-head">
                        <h3 class="npanel-head-title">Breadcrumb</h3>
                    </div>
                    <div class="npanel-body">
                        <ol class="nbreadcrumb">
                            <li><a href="javascript:;" title="Home">Home</a></li>
                            <li><a href="javascript:;" title="Computer Systems">Computer</a></li>
                            <li><a href="javascript:;" title="Desktop Computers">Laptop</a></li>
                            <li class="current">Gaming Laptop</li>
                        </ol>
                    </div>
                </div>
                <!-- :end panel -->
                <div class="npanel">
                    <div class="npanel-head">
                        <h3 class="npanel-head-title">Paging</h3>
                    </div>
                    <div class="npanel-body">
                        <ul class="npaging">
                            <li class="disabled"><a href="#"><i class="fa fa-caret-left"></i></a></li>
    	                    <li class="active"><a href="#">1</a></li>
    	                    <li><a href="#">2</a></li>
    	                    <li><a href="#">3</a></li>
    	                    <li><a href="#">4</a></li>
    	                    <li>...</li>
    	                    <li><a href="#">20</a></li>
                            <li><i class="fa fa-caret-right"></i></li>
    	                </ul>
                    </div>
                </div>
                <div class="npanel">
                    <div class="npanel-head">
                        <h3 class="npanel-head-title">Paging group</h3>
                    </div>
                    <div class="npanel-body">
                        <div class="npaging-group">
                            <div class="npaging-text">Page <strong>1/10</strong></div>
                            <ul class="npaging">
                                <li class="disabled"><a href="#"><i class="fa fa-caret-left"></i></a></li>
        	                    <li class="active"><a href="#">1</a></li>
        	                    <li><a href="#">2</a></li>
        	                    <li><a href="#">3</a></li>
        	                    <li><a href="#">4</a></li>
        	                    <li>...</li>
        	                    <li><a href="#">20</a></li>
                                <li><i class="fa fa-caret-right"></i></li>
        	                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </body>
</html>
