<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout</title>
        <link rel="stylesheet" type="text/css" href="../../dist/css/base.all.css">
        <link rel="stylesheet" type="text/css" href="../../dist/css/module.all.css">
        <link rel="stylesheet" type="text/css" href="css/layout.css">

    </head>
    <body>
        <div style="height: 50px; border: 1px solid #eee;"></div>
        <div class="nrow nrow-gap gap-x">
            <div class="ncol-6">ncol-6</div>
            <div class="ncol-6">ncol-6</div>
        </div>
        <div class="nrow">
            <div class="ncol-6">
                <div class="ntitle">Title</div>
                <div class="ntitle-x">Title</div>
                <div class="ntitle-xx">Title</div>
                <div class="ntitle-xxx">Title</div>
            </div>
        </div>
    </body>
</html>
