.ntable{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    text-align: left;
}
.ntable tr > th,
.ntable tr > td{
    padding: 8px 10px;
}
.ntable tr > th{
    font-weight: bold;
}
.ntable--border tr > th,
.ntable--border tr > td{
    border: 1px solid #eee;
}
.ntable--border-row tr > th,
.ntable--border-row tr > td{
    border: 0;
    border-bottom: 1px solid #eee;
}
.ntable--striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.ntable--striped > tbody > tr:nth-child(2n+1) {
    background-color: #f8f9fa;
}
.ntable-tools-right{
    text-align: right;
}
.ntable-tools-left{
    text-align: left;
}
